section#hero-content {

	h5 {
		color:#0025a0;
		font-size:20px;
		margin-bottom:4px
	}

	h1 {
		color:#0f125c;
		font-family: $font-family-serif-light;
	}

	h3 {
		color:#0025a0;
		font-family: $font-family-serif-light;
		font-size:35px
	}

	h4 {
		color:#0f125c;
		font-family: $font-family-serif;
		font-size:35px
	}

	p {
		color:#0f125c;
		font-family: $font-family-serif;
		font-size:28px
	}
	
}



