.our-team-block-title {
  position: relative;
  display: inline-block;

  h2 {
    @include font-size(3rem);
    padding: 40px 300px 40px 0;
    margin-bottom: 0;
    position: relative;
    z-index: 11;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100px;
    width: 100%;
    height: 100%;
    background-color: #def6fe;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 0% 100%);
    z-index: 10;
  }

  &.top-bar {
    &::after {
      content: "";
      position: absolute;
      top: -10px;
      left: -100px;
      width: 70%;
      height: 10px;
      background-color: #c0ecfc;
    }
  }

  &.first {
    &::before {
      background: rgb(219, 255, 249);
      background: linear-gradient(
        45deg,
        rgba(219, 255, 249, 1) 0%,
        rgba(236, 251, 255, 1) 100%
      );
    }

    &::after {
      content: "";
      position: absolute;
      top: -10px;
      left: -100px;
      width: 70%;
      height: 10px;
      background: rgb(255, 244, 250);
      background: linear-gradient(
        45deg,
        rgba(255, 244, 250, 1) 0%,
        rgba(255, 244, 250, 1) 100%
      );
    }
  }

  &.second {
    &::before {
      background: rgb(225, 235, 255);
      background: linear-gradient(
        45deg,
        rgba(225, 235, 255, 1) 0%,
        rgba(244, 240, 255, 1) 100%
      );
    }
  }

  &.last {
    &::after {
      content: "";
      position: absolute;
      top: -10px;
      left: -100px;
      width: 70%;
      height: 10px;
      background: rgb(220, 225, 254);
      background: linear-gradient(
        45deg,
        rgba(220, 225, 254, 1) 0%,
        rgba(247, 219, 239, 1) 100%
      );
    }
  }
}

section.page-hero.our-team {
  z-index: 10;

  h1 {
    border-bottom: 1px solid #42b6ff;
  }

  .overlay {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(155, 217, 255, 1) 100%
    );
    opacity: 0.7;
  }

  .bg-image {
    opacity: 0.3;
  }
}

section.our-team-list {
  overflow: visible;

  .bio-image {
    border: solid 1px #64C3FF;
    min-height: 400px;
    width: 100%;
    margin-bottom: 6px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 6px;
      background: rgb(92, 184, 232);
      background: linear-gradient(
        45deg,
        rgba(92, 184, 232, 1) 0%,
        rgba(52, 107, 255, 1) 100%
      );
    }
  }

  h3 {
    @include font-size(2rem);
  }

  .container {
    position: relative;
    z-index: 2;
  }

  .row {
    overflow: visible;
  }

  h6 {
    font-family: $font-family-serif;
    color: #587de0;
    @include font-size(1rem);
  }

  .block-title {
    color: #b4b9d6;
  }

  .radial-bg {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100vw;
    height: 200%;
    background: rgb(243, 251, 255);
    background: radial-gradient(
      circle,
      rgba(243, 251, 255, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    z-index: 1;
  }
}

section.our-team-content-blocks {
  .row {
    overflow: visible;
    position: relative;
  }

  .content-wrapper {
    position: relative;
    z-index: 2;

    ul {
      list-style: none;

      li {
        padding: 20px;
        @include font-size(2rem);
        border-bottom: 1px solid #b2c7ff;
      }
    }

    &.two-column {
      ul {
        column-count: 2;
       
        li {
        padding: 20px;
        @include font-size(2rem);
        border-bottom: 1px solid #b2c7ff;
      }
      }
    }
  }

  .bottom-content {
    position: relative;
    z-index: 2;

    h3 {
      padding-bottom: 10px;
      border-bottom: 1px solid #a5cfe1;
      @include font-size(3.25rem);
      margin-bottom: 30px;
    }

    p {
      @include font-size(1.875rem);
    }
  }

  .overlay {
    position: absolute;
    top: 0;
    left: -20px;
    width: 105%;
    height: 150%;
    background: rgb(210, 248, 255);
    background: linear-gradient(
      45deg,
      rgba(210, 248, 255, 1) 0%,
      rgba(255, 255, 255, 1) 100%
    );
    z-index: 1;
  }
}
