@font-face {
  font-family: "action_sansbold";
  src: url("../fonts/actionsans-bold-webfont.woff2") format("woff2"),
    url("../fonts/actionsans-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "action_sanslight";
  src: url("../fonts/actionsans-light-webfont.woff2") format("woff2"),
    url("../fonts/actionsans-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "action_sansmedium";
  src: url("../fonts/actionsans-medium-webfont.woff2") format("woff2"),
    url("../fonts/actionsans-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "action_sansregular";
  src: url("../fonts/actionsans-regular-webfont.woff2") format("woff2"),
    url("../fonts/actionsans-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "garamondregular";
  src: url("../fonts/garamond_regular-webfont.woff2") format("woff2"),
    url("../fonts/garamond_regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
